html,
body {
  margin: 0;
  padding: 0%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
body,
h1,
h3 {
  text-align: center;
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.Auth-form {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.Auth-form-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.tableWrap {
  height: 800px;
  overflow-y: auto;
}
.whole-page {
  padding: 50px;
  height: 100%;
}
