.search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 200px;
}
.dropdown{
  display: flex;
  flex-direction: column;
  height: 200px;
  overflow-y: auto;
}
.dropdown:empty{
  border: none;
}
.dropdown-row{
  cursor: pointer;
  text-align: start;
  padding-left: 3px;
  padding-right: 3px;
  margin: 3px,0;
}
.dropdown-row:hover{
  background-color: #646cff;
}
.search-inner{
  display: flex;
}
table.stock-table{
  width: 100%;
  border-collapse: collapse;
}
table.stock-table th{
  border: 1px solid;
  padding: 8px;
  text-align: center;
}
table.stock-table td{
  border: 1px solid;
  padding: 8px;
  text-align: center;
}
h1{
  text-align: center;
}